.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color:rgb(74, 85, 85);
}

.create {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 50vw;
  background-color: rgb(110, 170, 170);
  padding: 3rem;
  margin: 1rem;
  border-radius: 1rem;
}

.table {
  width: 60vw;
  background-color: rgb(115, 175, 175);
  padding: 3rem;
  margin: 2rem;
  border-radius: 1rem;
  
}

.user{
  background-color: aquamarine;
 
 
}
button {
  margin: 0 1rem;
}

button:hover {
  cursor: pointer;
  color: red;
}
